/* header.css */

.header {
    background-color: #8DD0FF;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
}
.header.hidden {
    top: -80px;
}
.header .logo {
    max-height: 50px;
}
.header .btn-menu {
    background-color: transparent;
    border: none;
}

/* Janela Lateral */
.side-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    transform: translateX(100%);
    transition: transform 0.3s;
    z-index: 1100;
    padding: 15px;
    overflow: auto;
}
.side-menu.open {
    transform: translateX(0);
}
.side-menu .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}
.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 60px 0 0;
}
.side-menu ul li {
    margin: 20px 0;
}
.side-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
.side-menu ul li a:hover {
    text-decoration: underline;
}
